<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM Wolfe Projects Website</title>
</head>
<body>
    <!-- Create the header and navbar section -->
    <section class="page-header" id="home-page-header">
        <!-- Divide nav bar and Header -->

        <!-- Navbar Divider -->
        <div class="header-div" id="header-nav-div">
            <nav>
                <div><a href="/Bio.html">Bio</a></div>
            </nav>
        </div>

        <!-- Heading Divider -->
        <div class="header-div" id="header-heading-div">
            <h1>Welcome:</h1>
            <h2>To my projects and skills website</h2>

        </div>
    </section>
</body>
</html>
