<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Entry</title>
</head>
<body>
    <section>
        <!-- PLACE PICTURE OF LOGO IN THIS SECTION -->
        <div>
            <h1>ORDER-ENTRY</h1>
            <p>This is the COURIER order entry form. Please fill this out and hit submit and your order will be placed.</p>
        </div>
    </section>

    <!-- CREATE FORM SECTION -->
    <form action="" method="post" id="order-entry">

        <!-- PACKAGE -->
        <div>
            <fieldset class="package-fieldset" id="order-entry">
            <legend><h2>Enter Package Information</h2></legend>

            <!-- Get Package Information -->
            <label for="package_type">Package Type:</label>
            <select name="package_type" id="package_selection">
                <option value="package_type">Envelope</option>
                <option value="package_type">Bag</option>
                <option value="package_type">Box</option>
                <option value="package_type">pallet</option>
                <option value="package_type">Tote</option>
            </select>

            <label for="pckg_qty">Qty: <input type="number" name="pckg_qty" id="package_quantity"></label>

            <!-- Unit type used for weight of the package -->
                <label for="package-weight">Weight: <input type="number" name="weight" id="package-weight"></label>
                <label for="kilos">Kgs. <input type="radio" name="unit-type" id="kilos"></label>
                <label for="pounds">Lbs. <input type="radio" name="unit-type" id="pounds"></label>

                <p>
                <sub><i>The package information is extremely important! Please make sure this information is as accurate as possible.
                This will help prevent wasted attempts. If a driver arrives to pickup a package and the description is incorrect,
                making the driver unable to pickup and make the delivery, you will be charged for an attempt.</i></sub>
                </p>
            </fieldset>
        </div>

        <!-- PICK UP -->
        <div>
            <h2>Point of Contact: Pickup</h2>
            <p>This is the point-of-contact information for whoever will be at the pickup location.
                We recommend having someone on-site but if that isn't possible, we need someone to contact
                incase the driver runs into any issues.
            </p>
        </div>

        <!-- Contact Info -->
        <div class="contact-info" id="contact-name">
            <label for="pu-poc-fname">First Name: <input type="text" name="pu-poc-fname" id="PoC-fname"></label>
            <label for="pu-poc-lname">Last Name: <input type="text" name="pu-poc-lname" id="PoC-lname"></label>
        </div>
        <div class="contact-info" id="contact-phone-email">
            <label for="pu_number">Phone Number: <input type="tel" name="pu_number" id="PoC-phone_number"></label>
            <label for="pu_email">Email: <input type="email" name="pu_email" id="PoC-email"></label>
        </div>

        <!-- Address Information for Pickup Location -->
        <div>
            <label for="pickup-address" id="pickup-street-address">Street Address: <input type="text" name="street-address" id="pickup-address"></label>
            <label for="pickup-address2" id="pickup-street-address2">Address #2: <input type="text" name="street-address2" id="pickup-address2"></label>
        </div>
        <div>
            <label for="pickup-city" id="pickup-city">City: <input type="text" name="city" id="pickup-city"></label>
            <label for="pickup-state" id="pickup-state">State: <input type="text" name="state" id="pickup-state"></label>
            <label for="pickup-zip" id="pickup-zip">Zip: <input type="text" name="zip" id="pickup-zip"></label>
        </div>
        <!-- Pickup Notes: Notes about the pickup -->
        <div>
            <label for="pickup-notes">Notes: <input type="text" name="note-box" id="pickup-notes" placeholder="Please enter any additional pickup instructions here..."></label>
        </div>
    </form>
</body>
</html>

<!-- NOTES FOR WHERE I LEFT OFF! I NEED TO FINISH THE PICKUP "TICKET" I AM GOING TO ADD A FIELDSET TAG AROUND
THE PICKUP AND DELIVERY SECTIONS OF THE FORM. THIS WAY THEY'RE SEPERATED BECAUSE THEY WILL ESSENTIALLY LOOK THE SAME.
I ALSO NEED TO ADD A TIME AND DATE SECTION TO THE FORM. I'M THINKING ABOUT HAVING THAT COME UP AFTER THE PICKUP AND
DELIVERY INFORMATION IS FILLED OUT. ESPECIALLY CONSIDERING THE FACT THAT IF THE CUSTOMER CHOOSES A LARGE ORDER LIKE
3-4 PALLETS, WELL THEN THEY OBVIOUSLY ARE GOING TO HAVE TO GET A DIFFERENT SET OF SERVICE TYPES AND DELIVERY TIME FRAMES.
ALTHOUGH, I AM FAR FROM BEING ABLE TO ADD LOGIC TO THIS YET, I STILL WANT TO PLAN FOR IT. -->
